# Dependencias
node_modules/
.pnp
.pnp.js

# Compilación y caché
dist/
dist-ssr/
*.local
.turbo
.vercel

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Carpeta de respaldo antigua (opcional para ignorar si no se sube a repo)
bitacora-semanal-odoo/
